<h1 id="title">Get to know your neighbors.</h1>
<div id="sample">
  <%= image_tag 'sample.png', id:'sample' %>
  <p>Updated live in Glass™ wherever you go.</p>
  <p>Glass™ is a trademark of Google Inc.</p>
</div>

<%= render 'layouts/session' %>

<div id="birdsList">
  <h2>BIRDS AROUND HERE RECENTLY</h2>
  <h3>(birds shown on Glass)</h3>
  <div id="birds"></div>
</div>