<div id="sample">
  <%= image_tag 'sample.png', id:'sample' %>
</div>

<%= render 'layouts/session' %>

<div id="birdsList">
  <h2>BIRDS AROUND HERE RECENTLY</h2>
  <h3>(birds shown on Glass)</h3>
  <div id="birds"></div>
</div>